absl-py==2.3.0
aiohappyeyeballs==2.6.1
aiohttp==3.11.18
aiosignal==1.3.2
altgraph==0.17.4
ansicon==1.89.0
attrs==25.3.0
audioop-lts==0.2.1
auto-py-to-exe==2.48.1
beautifulsoup4==4.13.4
blinker==1.9.0
bottle==0.13.4
bottle-websocket==0.2.9
bs4==0.0.2
cargo==0.3
cattrs==24.1.3
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.8
cloudscraper==1.2.71
colorama==0.4.6
comtypes==1.4.10
configparser==6.0.0
console==0.9907
contourpy==1.3.2
cryptography==44.0.2
cv2-tools==2.4.0
cycler==0.12.1
dhooks==1.1.4
discord.py==2.5.2
dotenv==0.9.9
Eel==0.18.2
ezenv==0.92
fade==0.0.9
fake-useragent==2.2.0
ffmpeg-python==0.2.0
filelock==3.18.0
Flask==3.1.0
fonttools==4.58.0
frozenlist==1.6.0
fsspec==2025.5.1
future==1.0.0
gevent==25.9.1
gevent-websocket==0.10.1
greenlet==3.2.4
grpcio==1.71.0
httpagentparser==1.9.5
idna==3.10
ImageHash==4.3.2
imageio-ffmpeg==0.6.0
importlib_resources==6.5.2
instaloader==4.14.1
itsdangerous==2.2.0
Jinja2==3.1.6
jinxed==1.3.0
keyboard==0.13.5
kiwisolver==1.4.8
Markdown==3.8
MarkupSafe==3.0.2
matplotlib==3.10.3
MouseInfo==0.1.3
mpmath==1.3.0
mss==10.0.0
multidict==6.4.3
mutf8==1.0.6
networkx==3.4.2
nmcli==1.5.0
node==1.2.2
npm==0.1.1
numpy==2.2.5
odict==1.9.0
opencv-python==4.11.0.86
optional-django==0.1.0
packaging==25.0
pandas==2.2.3
pbkdf2==1.3
pefile==2023.2.7
pillow==11.2.1
platformdirs==4.3.7
plumber==1.7
propcache==0.3.1
protobuf==6.31.0
psutil==7.0.0
py-cpuinfo==9.0.0
PyAudio==0.2.14
PyAutoGUI==0.9.54
pycord==0.1.1
pycparser==2.22
pyCraft @ git+https://github.com/ammaraskar/pyCraft.git@bcd156e83bd35fb2fdc6cfa64f97bfc96d7cc1a1
pygame==2.6.1
PyGetWindow==0.0.9
pyinstaller==6.16.0
pyinstaller-hooks-contrib==2025.9
pyjokes==0.8.3
Pymem==1.14.0
PyMsgBox==1.0.9
PyNBT==3.1.0
pynput==1.8.1
pyparsing==3.2.3
PyPDF2==3.0.1
pyperclip==1.9.0
pypiwin32==223
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.17.0
PyQt6==6.9.1
PyQt6-Qt6==6.9.2
PyQt6_sip==13.10.2
PyRect==0.2.0
PyScreeze==1.0.1
PySocks==1.7.1
python-constraint==1.4.0
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
pythonping==1.1.4
pyttsx3==2.98
pytube==15.0.0
pytweening==1.2.0
pytz==2025.2
PyWavelets==1.8.0
pywhatkit==5.4
pywikihow==0.5.7
pywin32==310
pywin32-ctypes==0.2.3
PyYAML==6.0.2
qrcode==8.1
readchar==4.0.5
requests==2.32.3
requests-cache==1.2.1
requests-toolbelt==1.0.0
scapy==2.6.1
scipy==1.15.2
seaborn==0.13.2
setuptools==78.1.0
six==1.17.0
soupsieve==2.7
SpeechRecognition==3.14.2
speedtest==0.0.1
speedtest-cli==2.1.3
standard-aifc==3.13.0
standard-chunk==3.13.0
stem==1.8.2
style==1.1.0
sudo==1.0.0
sympy==1.14.0
tensorboard==2.19.0
tensorboard-data-server==0.7.2
termcolor==3.1.0
texttable==1.7.0
torch==2.7.0
torchvision==0.22.0
tqdm==4.67.1
typing_extensions==4.13.2
tzdata==2025.2
ua-parser==1.0.1
ua-parser-builtins==0.18.0.post1
ultralytics==8.3.145
ultralytics-thop==2.0.14
update==0.0.1
url-normalize==2.2.1
urllib3==2.2.2
Werkzeug==3.1.3
wheel==0.45.1
wifi==0.3.8
wikipedia==1.4.0
yarl==1.20.0
zope.component==6.0
zope.deferredimport==5.0
zope.deprecation==5.1
zope.event==5.0
zope.hookable==7.0
zope.interface==7.2
zope.lifecycleevent==5.1
zope.proxy==6.1
